@charset "UTF-8";

/* カレンダー全体のスタイル */
.calendar{
    border-collapse: collapse;
    width: 70%; /* 画面の70%に調整 */
    font-family: "Ink Free", sans-serif; /* Ink Free フォントを指定 */
    margin: auto; /* 中央揃font-family: "Ink Free", sans-serif;え */
}

/* カレンダーの日付セルのスタイル */
.calendar td {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    font-size: 18px; /* 文字サイズを大きく */
    color: rgb(0, 0, 64); /* 文字色を薄く */
    position: relative; /* 相対位置を設定 */
    font-weight: bold;
}

/* カレンダーのヘッダー行のスタイル */
.calendar th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
    font-size: 20px; /* 文字サイズを大きく */
    color: rgb(0, 0, 64); /* 文字色を薄く */
    font-weight: bold;
}

/* 今日の日付の強調スタイル */
.calendar .highlight {
    background-color: pink; /* ピンク色に変更 */
}

/* カウンターのスタイル */
.counter {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}
