<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Calendar</title>
    <link rel="stylesheet" type="text/css" href="CSS/calendar.css">
	<link rel="stylesheet" type="text/css" href="CSS/button.css">
</head>
<body>
    <h1>花摘みカレンダー</h1>
    <div class="container">
        <div class="calendar-container" id="calendar"></div>
		<button id = "today">Back to the Today</button>
		<br><button id = "button1">リトルベン</button>
		<br><button id = "button2">ビッグベン</button>
    </div>

    <script src="JS/calendar.js"></script>
</body>
</html>
