<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Calendar</title>
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
	<link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
</head>
<body>
    <h1 id = "word">花摘みカレンダー</h1></i>
    <div class="container">
        <div class="calendar-container" id="calendar"></div>
        <div class="button-container">
            <button id="button1"><i class="fa-solid fa-droplet fa-5x"></i></button>
            <button id="button2"><i class="fas fa-poo fa-5x"></i> <!-- 5倍 --></button>
			<button id="delButton1">▼</button>
			<button id="delButton2">▼</button>
        </div>
    </div>
    <script src="js/calendar.js"></script>
</body>
</html>
