<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Calendar</title>
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
</head>
<body>
    <h1 id = "word">花摘みカレンダー</h1>
    <div class="container">
        <div class="calendar-container" id="calendar"></div>
        <div class="button-container">
            <button id="button1">リトルベン</button>
            <button id="button2">ビッグベン</button>
			<button id="delButton1">▼</button>
			<button id="delButton2">▼</button>
        </div>
    </div>
    <script src="js/calendar.js"></script>
</body>
</html>
